footer.footer {
    padding-bottom: 24px;

    .footer-wrapper {
        padding-top: 18px;
        border-top: 1px solid rgba(#707070, 0.5);
    }

    p {
        color: #212121;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
    }
}

.footer__logo {
    img {
        width: 100%;
        max-width: 69px;
    }
}

.footer__nav {
    li {
        margin-bottom: 3px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-size: 14px;
            font-weight: 500;
            line-height: 120%;
            display: inline-block;
            transition: 0.3s;

            &:hover {
                color: #14B9FF;
            }
        }
    }
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    li {
        margin-right: 12px;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #CEF0FF;
            transition: 0.5s;

            &:hover {
                background: #ace6ff;
            }

            img {
                width: 24px;
            }
        }
    }
}

@media(max-width:1199.8px) {
    .footer__social li {
        &:nth-child(1) {
            width: 100%;
            margin: 0;
            text-align: right;
            margin-bottom: 5px;
        }
    }
}

@media(max-width:991.8px) {
    .footer__social li:first-child {
        text-align: left;
    }

    .footer__social {
        justify-content: flex-start;
    }

    .footer__logo {
        display: inline-block;
        margin-bottom: 15px;
    }

    footer.footer p {
        font-size: 16px;
    }

    .footer__nav li a {
        font-size: 16px;
    }

    .footer__social {
        margin-top: 15px;

        li {
            font-size: 18px;
        }
    }
}

@media(max-width:767.8px) {
    footer.footer p {
        margin-bottom: 15px;
    }
}