// 1
.welcomesection {
    padding: 50px 0 0 0;

    p {
        color: #818181;
        font-weight: 500;
        line-height: 150%;
        font-size: 14px;
        margin-bottom: 32px;
    }

    .topsection {
        margin-bottom: 60px;
    }

}

.bnwrapper {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-radius: 30px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

// 2
.partners {
    padding: 80px 0;
}

.partners__header {
    margin-bottom: 20px;

    p {
        margin: 0;
        font-family: "NAMU-Pro";
        font-size: 24px;
        line-height: 125%;
    }
}

@keyframes updown {
    0% {
        transform: translate(0, -50%);
    }

    50% {
        transform: translate(3px, -70%);
    }

    100% {
        transform: translate(0, -50%);
    }
}

.headlink {
    font-weight: 600;
    color: #14B9FF;
    font-size: 18px;
    position: relative;
    padding-right: 32px;
    transition: 0.3s;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url('../img/general/title-arr.svg') no-repeat center/ 100%;
        margin-left: 8px;

    }

    &::before {
        content: "";
        display: inline-block;
        width: 0;
        height: 2px;
        background: #14B9FF;
        position: absolute;
        left: 0;
        bottom: -4px;
        transition: 0.3s;
    }

    &:hover {
        &::before {
            width: 100%;
        }

        &::after {
            animation: updown 1.5s infinite ease-in-out;
        }
    }
}

.partner-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    background: #F3FBFF;
    padding: 28px 10px 20px 10px;
    transition: 0.5s;

    .imgwrap {
        height: 105px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    p {
        margin: 0;
        text-align: center;
        color: #707070;
        font-weight: 600;
        font-size: 14px;
    }

    &:hover {
        background: #e1f5ff;
    }
}

.partners__swiper {
    padding-bottom: 40px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #14B9FF;
}

.swiper-pagination-bullet {
    background: #D1D1D6;
    opacity: 1;
}

// 3
.since {
    padding: 80px 0 30px;
}

.two-column-text {
    column-count: 2;
    column-gap: 20px;
}

.since__header {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5EA;
}

.since__body {
    padding: 40px 0 0 0;

    .description {
        h5 {
            margin-bottom: 36px;
            color: #212121;
            font-size: 20px;
            line-height: 150%;
            font-weight: 500;
        }

        p {
            color: #707070;
            font-size: 16px;
            margin-bottom: 24px;

            b {
                color: #212121;
                font-weight: 600;
            }
        }
    }
}

.since__list {
    li {
        margin-bottom: 16px;
        display: inline-block;
        border-radius: 50px;
        padding: 10px 16px;
        background: #DBF4FF;
        color: #212121;
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// 4
.areaswork {
    padding: 80px 0 0 0;
}

.areaswork__header {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5EA;
}

.areaswork__body {
    padding: 30px 0 0 0;
}

.areaworkbox {
    background: #F3FBFF;
    border: 1px solid #CEF0FF;
    border-radius: 25px;
    padding: 32px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    transition: 0.3s;

    &:hover {
        background: #e1f5ff;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    img {
        width: 48px;
    }

    p {
        color: #212121;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
    }
}

// 5
.aidamounting {
    padding: 80px 0;
}

.aidamounting__header {
    padding-bottom: 13px;
    border-bottom: 1px solid #E5E5EA;

    p {
        color: #212121;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
    }
}

.aidamounting__body {
    padding: 30px 0 0 0;

}

.aidsum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;


    p {
        font-size: 48px;

    }

    h2 {
        width: 100%;
        max-width: 70%;
        flex: 0 0 70%;
    }

    p {
        color: #14B9FF;
        font-family: "NAMU-Pro";
        width: 100%;
        max-width: 30%;
        flex: 0 0 30%;
    }
}

.sliders-wrapper {
    padding-left: calc((100vw - 1150px)/2);
    position: relative;
}

.aidright__wrap {
    padding-left: 369px;
}

.aidleft__wrap {
    width: 409px;
    position: absolute;
    z-index: 2;
    left: calc((100vw - 1150px)/2);
    top: 50%;
    transform: translateY(-50%);
}

.aidleft {
    box-shadow: 0px 0px 19.3px 4px #79797926;
    border-radius: 25px;

    .swiper-button-prev,
    .swiper-button-next {
        background: #14B9FF;
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        background-position: center;
        top: initial;
        bottom: 30px;
        z-index: 11;

        &::after {
            display: none;
        }
    }

    .swiper-button-prev {
        background-image: url('../img/general/slide-left.svg');
        left: 50px;
    }

    .swiper-button-next {
        background-image: url('../img/general/slide-right.svg');
        right: 50px;
    }

    .swiper-pagination.aidpag {
        font-size: 32px;
        bottom: 30px;
        text-align: center;

        .swiper-pagination-current {
            font-size: 32px;
            font-family: "NAMU-Pro";
        }

        .swiper-pagination-total {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.aidslide {
    background: #fff;
    height: 230px;
    padding: 32px;
    text-align: center;

    .title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        color: #14B9FF;
        line-height: 150%;
    }

    .amount {
        font-family: "NAMU-Pro";
        color: #212121;
        font-size: 36px;
        line-height: 150%;
    }
}

.aidright {

    // pointer-events: none;
    .swiper-slide {
        filter: blur(5px);
        transition: 0.3s;
        transform: scale(0.85);

        &.swiper-slide-thumb-active {
            filter: blur(0);
            transform: scale(1);
        }

        &.swiper-slide-active {
            filter: blur(0);
            transform: scale(1);
        }
    }

    .imgwrap {
        // height: 340px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// 6

.jointosuppsect {
    padding-top: 100px;
}

.jointosupp {
    position: relative;
    border-radius: 25px;
    background: #CEF0FF;
    padding: 52px 48px;

    h2 {
        margin-bottom: 40px;
    }

    p {
        font-size: 24px;
        line-height: 150%;
        color: #212121;
    }

    .bluebtn {
        max-width: 303px;
        width: 100%;
    }
}

.joinbgpic {
    position: absolute;
    right: 58px;
    top: -69px;
    max-width: 477px;
    max-height: 242px;
}

.aidsum p {
    text-align: right;
}

.bnwrapper img {
    vertical-align: top;
}

.aidleft .swiper-button-next,
.aidleft .swiper-button-prev {
    transition: 0.5s;

    &:hover {
        background-color: #0f8ecb;
    }
}

.totop {
    background: #14B9FF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #0f8ecb;
    }

    img {
        transform: rotate(180deg);
        width: 24px;
    }
}




@media(max-width:1399.8px) {
    .welcomesection p {
        margin-bottom: 20px;
    }

    .welcomesection .bottsection {
        padding: 0 20px;
    }

    .areaworkbox {
        height: 220px;
    }

    .aidsum {
        margin-bottom: 60px;
    }

    .joinbgpic {
        max-width: 420px;
    }

    .sliders-wrapper {
        padding-left: calc((100vw - 1120px) / 2);
    }

    .aidleft__wrap {
        left: calc((100vw - 1120px) / 2);
    }





    .since__body,
    .aidamounting__body {
        padding-top: 25px;
    }

    .partners,
    .since {
        padding-bottom: 0;
    }

    .aidsum p {
        font-size: 36px;
    }

    .jointosupp p {
        font-size: 20px;
    }

    .areaworkbox p {
        font-size: 18px;
    }

}

@media(max-width:1199.8px) {
    .welcomesection h1 {
        margin-bottom: 20px;
    }

    .welcomesection .topsection {
        margin-bottom: 40px;
    }

    .partner-slide {
        height: 200px;
    }

    .areaworkbox {
        padding: 20px;
        height: 200px;
    }

    .aidamounting {
        padding-top: 60px;
    }

    .sliders-wrapper {
        padding-left: calc((100vw - 960px) / 2);
    }

    .aidleft__wrap {
        left: calc((100vw - 960px) / 2);
    }

    .aidleft__wrap {
        width: 380px;
    }

    .aidslide .amount {
        font-size: 28px;
    }

    .aidslide {
        height: 200px;
        padding: 20px;
    }

    .aidleft {
        border-radius: 15px;
    }

    .aidslide .title {
        margin-bottom: 15px;
    }

    .aidleft .swiper-button-next {
        right: 30px;
    }

    .aidleft .swiper-button-prev {
        left: 30px;
    }

    .aidleft .swiper-pagination.aidpag .swiper-pagination-current,
    .aidleft .swiper-pagination.aidpag {
        font-size: 26px;
    }

    .aidleft .swiper-pagination.aidpag .swiper-pagination-total {
        font-size: 18px;
    }

    .aidamounting {
        padding-bottom: 60px;
    }

    .joinbgpic {
        right: 40px;
        max-width: 400px;
        max-height: 190px;
        top: -50px;
    }




    .aidsum p {
        font-size: 32px;
    }

    .areaworkbox p {
        font-size: 16px;
    }

}

@media(max-width:991.8px) {
    .since__list {
        margin-bottom: 10px;
    }

    .aidsum {
        flex-wrap: wrap;
        margin-bottom: 20px;

        h2,
        p {
            max-width: 100%;
            flex: 0 0 100%;
        }


        h2 {
            margin-bottom: 15px;
        }

        p {
            text-align: left;
            line-height: 150%;
        }
    }

    .aidleft__wrap {
        left: calc((100vw - 720px) / 2);
    }

    .joinbgpic {
        max-width: 350px;
    }

    .jointosupp p {
        margin-bottom: 15px;
    }

}

@media(max-width:767.8px) {
    .areaworkbox {
        margin-bottom: 15px;
    }

    .sliders-wrapper {
        padding-left: calc((100vw - 540px) / 2);
        padding-right: calc((100vw - 540px) / 2);
    }

    .aidleft__wrap {
        position: relative;
        top: initial;
        transform: none;
        left: initial;
        margin: 0 auto;
    }

    .aidright__wrap {
        padding-left: 0;
        margin-top: -50px;
    }

    .jointosupp p {
        font-size: 16px;
    }

    .jointosupp {
        padding: 30px;

        .text-right {
            text-align: left;
        }

        h2 {
            margin-bottom: 15px;
        }
    }

    .joinbgpic {
        max-width: 200px;
        right: 10px;
        top: -30px;
    }

    .jointosuppsect {
        padding-top: 40px;
    }



}

@media(max-width:575.8px) {

    .welcomesection {
        padding-top: 30px;
    }

    .welcomesection p br {
        display: none;
    }

    .bnwrapper {
        border-radius: 10px;
    }

    .headlink {
        font-family: "NAMU-Pro";
        font-weight: 400;
    }

    .partners__header p {
        font-size: 18px;
    }

    .partner-slide {
        height: 160px;
        padding: 15px;
    }

    .partner-slide .imgwrap {
        height: 90px;
    }

    .since__list li {
        margin-bottom: 5px;
        font-weight: 600;
    }

    .since__header,
    .areaswork__header {
        padding-bottom: 15px;
    }

    .aidamounting__body,
    .since__body,
    .areaswork__body {
        padding-top: 15px;
    }

    .two-column-text {
        column-count: 1;
    }

    .since__body .description {
        h5 {
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 10px;
        }
    }

    .areaworkbox {
        padding: 15px;
    }

    .areaworkbox p {
        font-size: 14px;
        line-height: 140%;
    }

    .areaworkbox {
        height: 180px;
        border-radius: 15px;
    }

    .areaswork__body {
        .row {
            margin-left: -5px;
            margin-right: -5px;

            .col-6 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    .aidsum h2 {
        margin-bottom: 10px;
    }

    .aidslide .amount {
        font-size: 24px;
    }

    .aidleft__wrap {
        width: 300px;
    }

    .aidslide .title {
        margin-bottom: 10px;
    }

    .aidleft .swiper-button-next {
        right: 10px;
        bottom: 15px;
    }

    .aidleft .swiper-button-prev {
        left: 10px;
        bottom: 15px;
    }

    .aidleft .swiper-pagination.aidpag {
        bottom: 15px;
    }

    .aidright__wrap {
        margin-top: -30px;
    }

    .aidslide {
        height: 170px;
    }

    .joinbgpic {
        max-width: 160px;
        max-height: 80px;
    }



    .aidamounting {
        padding-top: 50px;
    }

    .partners,
    .since,
    .areaswork {
        padding: 50px 0 0 0;
    }

    .since__body .description h5,
    .aidamounting__header p {
        font-size: 18px;
    }

    .aidsum p {
        font-size: 24px;
    }

}

@media(max-width:370.8px) {

    .headlink,
    .partners__header p {
        font-size: 16px;
    }

    .partners__header .row {
        align-items: center;
    }

    .areaworkbox p {
        font-size: 13px;
    }
}