.blog-section {
    padding: 50px 0 0 0;

    h1 {
        margin-bottom: 58px;
    }
}

.blog-item {
    margin-bottom: 48px;
    display: block;

    &:hover {
        .imgwrap img {
            transform: scale(1.05);
        }

        .blog-item__info .readmore {
            color: #14B9FF;

            svg {
                path {
                    stroke: #14B9FF;
                }
            }
        }

    }

    .imgwrap {
        height: 217px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            vertical-align: top;
            transition: 0.5s;
        }
    }

    .description {
        padding: 16px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 132px;

        h4 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 20px;
            font-weight: 500;
            color: #212121;
            line-height: 150%;
            margin: 0;
        }
    }

    .blog-item__info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .date {
            font-size: 14px;
            font-weight: 500;
            color: #707070;
        }

        .readmore {
            font-weight: 600;
            font-size: 16px;
            color: #212121;
            display: inline-flex;
            align-items: center;
            transition: 0.3s;

            svg {
                width: 24px;
                margin-left: 8px;
                
                path {
                    transition: 0.3s;
                }
            }
        }
    }
}

.morenews {
    display: inline-flex;
    align-items: center;
    color: #fff;
    background: #14B9FF;
    border-radius: 30px;
    height: 48px;
    padding: 5px 23px;

    img {
        margin-left: 8px;
        width: 24px;
    }
}

@media(max-width:1399.8px) {
    .blog-section h1 {
        margin-bottom: 30px;
    }
}

@media(max-width:1199.8px) {
    .blog-item .imgwrap {
        height: 180px;
    }

    .blog-item .description h4 {
        font-size: 16px;
    }

    .blog-item .description {
        padding: 10px;
        min-height: 100px;
    }

    .blog-item .blog-item__info .readmore {
        font-size: 14px;
    }

    .blog-item {
        margin-bottom: 30px;
    }
}

@media(max-width:767.8px) {

    .blog-item .imgwrap {
        height: 150px;
    }

    .blog-item .description h4 {
        font-size: 15px;
    }

    .blog-item .blog-item__info .date,
    .blog-item .blog-item__info .readmore {
        font-size: 12px;
    }

    .blog-item .blog-item__info .readmore img {
        width: 16px;
    }

}

@media(max-width:575.8px) {
    .blog-section {
        padding-top: 30px;
    }

    .blog-section h1 {
        margin-bottom: 20px;
    }

    .blog-item .imgwrap {
        border-radius: 10px;
    }

    .blog-item {
        margin-bottom: 20px;
    }

    .blog-item .imgwrap {
        height: 170px;
    }

}